* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Insaniburger;
    src: url(./Insanibc.ttf);
}

body {
    display: grid;
    grid-template-rows: 2fr 18fr 1fr;
    height: 100lvh;
    width: 100lvw;
}

header {
    grid-row: 1 / span 1;
    background-color: palevioletred;
    padding: 1vh calc(1vw + 12px);
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.logo {
    flex: 2;
    display: flex;
    align-items: center;
    font-size: max(3vw, 2.7vh);
    color: white;
    font-family: Insaniburger;
}

.buttons {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4vw;
}

.buttons button {
    font-size: min(4vw, 3vh);
    background-color: transparent;
    color: rgb(223, 222, 222);
    border: none;
}

.buttons button:hover {
    color: white;
}

footer {
    grid-row: 3 / -1;
    background-color: palevioletred;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(1vw, 1vh);
}

.credit a {
    color: white;
}

.pic {
    background: url(./cheeseburger-155804.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: max(35lvw, 45lvh);
    height: max(35lvw, 45lvh);
}

.main-text p {
    font-size: max(7vh, 7vw);
    font-family: insaniburger, Impact, Helvetica;
    color: palevioletred;
    text-align: center;
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
}

#content {
    background-color: white;
}